@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranYekanWebBold";
  src: url("../fonts/Iranyekan_800.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanWebRegular";
  src: url("../fonts/Iranyekan_400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
